.header{
    height: 72px;
    display: flex;
    align-items: center;
}

.header__inner {
    width: calc(100% - 64px);
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 48px;
}

.footer{
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.footer__copy{
    font-size: 16px;
    font-weight: bold;
}