.user-attendance {
    position: absolute;
    inset: 0;
    z-index: -100;
    background-color: #f2f2f2;
}

.user-attendance__inner {
    max-width: 1024px;
    margin: 120px auto 0;
    text-align: center;
}